body{
    background-color: grey;
    height: 100%;
    width: 100%;
    background: grey;
    display: flex;
}
.completion{
    display: inline-block; 		
}
html{
  height: 100%;
  width: 100%;
}
form{
    display: table;
}
label{
    display: table-cell;
}
input{
    display: table-cell;
}
#list-update-form{
  transform: scale(1.5);
  padding: 20px;
  border: 5px solid black;
  margin: auto;
  margin-top: 12%;
}
#card-update-form{
  transform: scale(1.5);
  padding: 20px;
  border: 5px solid black;
  margin: auto;
  margin-top: 10%;
}