<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        @page{
            size: A4;
            margin: 1cm;
        }
        th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h3>Hi, {{username}}! </h3>
    <h4>This is your monthly report dated {{date}}.</h4>

    <p>Your tasks are broadly classified under
        {% for list in lists %}
            ,<strong> {{list.list_name}}</strong>
        {% endfor %}.
    </p>
    <ul>
        <li>The total number of tasks are {{total_cards}}.</li>
        <li>The number of completed tasks are {{completed_cards}}.</li>
        <li>The number of pending tasks are {{incomplete_cards}}.</li>
        <li>The deadline has been crossed for {{deadline_crossed}} tasks.</li>
    </ul>
    The details of the completed tasks are
    <table style="background-color: white; border-color: goldenrod; width: 80%;" border="4" id = "comp_table">
        <tr>
            <th>Name</th>
            <th>Content</th>
            <th>Completion date</th>
        </tr> 
        {% for card in completed_cards_arr %}
        <tr>
            <td>{{ card["card_name"] }}</td>
            <td>{{ card["card_content"] }}</td>
            <td>{{card["comp_date"]}}</td>
        </tr>
        {% endfor %} 
    </table>  
    <br>
    <br>
    The details of the pending tasks are
    <table style="background-color: white; border-color: goldenrod; width: 80%;" border="4" id = "comp_table">
        <tr>
            <th>Name</th>
            <th>Content</th>
            <th>Deadline</th>
        </tr> 
        {% for card in pending_cards_arr %}
        <tr>
            <td>{{ card["card_name"] }}</td>
            <td>{{ card["card_content"] }}</td>
            <td>{{card["card_deadline"]}}</td>
        </tr>
        {% endfor %} 
    </table>
</body>
</html>